body {
  font-weight: lighter;
  color: rgb(142, 142, 142);
  padding-top: 20pt;
  padding-bottom: 20pt;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.appTitle {
  
  color: rgb(0, 149, 222);
  /*font-weight: bolder;*/
}

.headerLink {
	font-size: 120%;
	vertical-align: middle;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

a {
  color: rgb(0, 149, 222);
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: rgb(0, 149, 222);
    text-decoration: underline; }
  a img {
    border: none; }
    
.linkSeparator {
	color: rgb(0, 149, 222);
}
